// out: ../../publish/html/css/layout.css
@import "basic.less";
html, body {.height(100%);}
body {.height(100%); .r_mp;}

@font-face {
  font-family: 'SpoqaHanSansRegular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SpoqaHanSansRegular.ttf');
  src: local('※'), url('../fonts/SpoqaHanSansRegular.woff2') format('woff2'), url('../fonts/SpoqaHanSansRegular.woff') format('woff');
}


// reset
html {.height(100%);}
body {
  min-height:100%;
  .r_mp;
  font-family: 'SpoqaHanSansRegular';
  .lh(1.2);
  letter-spacing:-0.04em;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
}
a {text-decoration:none;}
img, button {border:none;}
input:focus, textarea:focus, select:focus {outline: none;}
img {max-width:100%;}
caption {font-size:0; text-indent:-9999px;}

// skip navi
.skip_navi {
  .absolute; top:-30px; left:0; z-index:100; .fullWidth; .height(30px);
  a {
    .absolute; left:0; top:0;
    .dp(block); .full; .bg_color(#222); .lh(30px); .align(center); .font(13px, #fff);
    &:focus {top:30px;}
  }
}
