@charset "UTF-8";
html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'SpoqaHanSansRegular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SpoqaHanSansRegular.ttf');
  src: local('※'), url('../fonts/SpoqaHanSansRegular.woff2') format('woff2'), url('../fonts/SpoqaHanSansRegular.woff') format('woff');
}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'SpoqaHanSansRegular';
  line-height: 1.2;
  letter-spacing: -0.04em;
  font-size: 16px;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
img,
button {
  border: none;
}
button {
  font: inherit;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
input,
select,
textarea {
  font-family: 'SpoqaHanSansRegular';
  font-size: inherit;
}
img {
  max-width: 100%;
}
caption {
  font-size: 0;
  text-indent: -9999px;
}
select::-ms-expand {
  display: none;
  opacity: 0;
}
input::placeholder {
  color: #ccc;
  opacity: 1;
}
textarea::placeholder {
  color: #ccc;
  opacity: 1;
  font-size: inherit;
}
.skip_navi {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
}
.skip_navi a {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #222;
  line-height: 30px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  font-weight: normal;
}
.skip_navi a:focus {
  top: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
input,
select,
textarea {
  -webkit-appearance: none;
  border: 0;
  text-shadow: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
.mar_t10 {
  margin-top: 10px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #dddddd;
  z-index: 20;
}
.header .inner_header {
  width: 1080px;
  margin: 0 auto;
  height: 100px;
  box-sizing: border-box;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header nav {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.header nav > ul {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
}
.header nav > ul > li.node1 {
  float: left;
}
.header nav > ul > li.node1 a {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  font-size: 18px;
  color: #222222;
  font-weight: bold;
}
.header nav > ul > li + li {
  margin-left: 40px;
}
.header .util_wrap {
  margin-left: 60px;
}
.header .util_wrap .btn_user {
  display: block;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: url(../images/dummy/icon_user.png) no-repeat center center #f6f6f6;
  font-size: 0;
}
.container {
  padding-top: 160px;
}
.btn_text:hover {
  text-decoration: underline;
}
.text_red {
  color: red;
}
.text_blue {
  color: blue;
}
.full_width {
  width: 100%;
}
.half_width {
  width: 50%;
}
.align_right {
  text-align: right;
}
.align_center {
  text-align: center;
}
.align_left {
  text-align: left;
}
/* button */
.btn_wrap {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
}
.btn_wrap.left {
  justify-content: flex-start;
}
.btn_wrap.right {
  justify-content: flex-end;
}
.btn_wrap.direction_row {
  flex-direction: row;
}
.btn {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 16px;
  border-radius: 3px;
  text-align: center;
}
.btn + .btn {
  margin-left: 8px;
}
.btn > span {
  position: relative;
  z-index: 2;
}
/* color */
.btn.blue {
  background: #2a60e4;
  color: #fff;
}
.btn.blue:hover {
  background: #0139c0;
}
.btn.gray {
  background: #777;
  color: #fff;
}
.btn.gray:hover {
  background: #444444;
}
.btn.bd_blue {
  background: #fff;
  border: 1px solid #2a60e4;
  color: #2a60e4;
}
.btn.bd_blue:hover {
  background: #f8f9fd;
}
.btn.bd_gray {
  background: #fff;
  border: 1px solid #999;
  color: #333;
}
.btn.bd_gray:hover {
  background: #f0f0f0;
}
/* size */
.btn.sml {
  height: 32px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 30px;
}
.btn.mid {
  height: 40px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 38px;
  padding: 0 20px 0 20px;
}
.btn.big {
  height: 50px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 48px;
  padding: 0 50px 0 50px;
}
.btn.link > span {
  display: inline-block;
  vertical-align: middle;
  padding-right: 13px;
  font-size: 14px;
  color: #666666;
  font-weight: normal;
  line-height: 1;
}
.btn.link > span:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  width: 7px;
  height: 7px;
  box-sizing: border-box;
  border-bottom: 2px solid #898989;
  border-right: 2px solid #898989;
  transform: translate(0, -50%) rotate(-43deg);
}
/* paging */
/* radio button */
.custom_radio {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.custom_radio + .custom_radio {
  margin-left: 30px;
}
.custom_radio input[type="radio"] {
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 0;
  height: 0;
  opacity: 0;
}
.custom_radio input[type="radio"] + label {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  color: #666;
  font-weight: normal;
  cursor: pointer;
}
.custom_radio input[type="radio"] + label:before {
  display: block;
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}
.custom_radio input[type="radio"]:checked + label:before {
  border-color: #2a60e4;
}
.custom_radio input[type="radio"]:checked + label:after {
  display: block;
  content: "";
  position: absolute;
  top: 8px;
  left: 6px;
  z-index: 1;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  border-radius: 50%;
  background: #2a60e4;
}
/* checkbox */
.custom_checkbox {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.custom_checkbox + .custom_checkbox {
  margin-left: 30px;
}
.custom_checkbox input[type="checkbox"] {
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 0;
  height: 0;
  opacity: 0;
}
.custom_checkbox input[type="checkbox"] + label {
  position: relative;
  padding-left: 30px;
  font-size: 16px;
  color: #666;
  font-weight: normal;
  cursor: pointer;
}
.custom_checkbox input[type="checkbox"] + label:before {
  display: block;
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  z-index: 1;
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}
.custom_checkbox input[type="checkbox"]:checked + label:before {
  border-color: #2a60e4;
  background: url("../images/dummy/icon_checkbox.png") no-repeat center #2a60e4;
}
.custom_checkbox input[type="checkbox"]:checked + label:after {
  display: none;
}
/* input */
.custom_input {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.custom_input input[type="text"],
.custom_input input[type="password"] {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  padding: 0 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #666;
  font-weight: normal;
}
.custom_input input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
/* 첨부파일 */
.box_add_files {
  position: relative;
}
.box_add_files .custom_input {
  width: 100%;
}
.box_add_files .custom_input input[type="text"] {
  width: 100%;
  padding-right: 103px;
}
.box_add_files .btn_add_files {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 103px;
  border-radius: 0;
  cursor: pointer;
  text-align: center;
}
.ui_skip {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 0;
  height: 0;
  font-size: 0;
  opacity: 0;
}
/* slectbox */
.custom_select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background: #fff;
}
.custom_select:after {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  margin-top: -3px;
  border-top: 6px solid #666;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  will-change: transform;
}
.custom_select select {
  border: 1px solid #ccc;
  height: 40px;
  box-sizing: border-box;
  padding: 0 30px 0 20px;
  font-size: 16px;
  color: #666;
  font-weight: normal;
}
.custom_select select:focus {
  background: #f6f6f6;
  color: #898989;
}
p.caution {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  font-size: 16px;
  color: #898989;
  font-weight: normal;
}
/* Tab */
.tab_wrap {
  position: relative;
}
.tab_wrap .tab_nav {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.tab_wrap .tab_nav li {
  position: relative;
  width: 100%;
}
.tab_wrap .tab_nav li > a {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  font-size: 18px;
  color: #898989;
  font-weight: normal;
}
.tab_wrap .tab_nav li.active > a {
  background: #f4f6fb;
  border: 1px solid #999;
  color: #222;
}
