//output:../../../publish/html/display/Workspace_09.html

include ../include/jadeUtil.jade
doctype html
html(lang='ko')
  include ../include/head.jade
  body
    include ../include/skipNavi.jade
    include ../include/header.jade
    
    .container
      article#content.content content
      
    include ../include/footer.jade
