//output:../../../publish/html/main/main_b.html

include ../include/jadeUtil.jade
doctype html
html(lang='ko')
  include ../include/head.jade
  +linkRel('stylesheet', 'text/css', '../css/main_b.css', 'all')
  body
    include ../include/skipNavi.jade
    .header_wrap
      header.header
        h1.logo
          a(href="javascript:void(0);") 
            img(src="../images/common_b/logo.svg", alt="RCS for Business")
        nav
          ul.nav_list
            li(v-for="(item, index) in array" v-on:mouseover="mouseover" v-on:mouseleave="mouseleave")
              a(v-bind:href="item.url") {{ item.title }} 
              transition
                .sub_menu(v-show="isHovering")
                  ul
                    li(v-for="item2 in array[index].subMenu")
                      a(v-bind:href="item2.url")  {{ item2.title }}
          .gnb_wrap
            a(href="javascript:void(0);") 문의하기
            a(href="javascript:void(0);") 로그인
    // 상단 비쥬얼 영역
    section.visual_wrap
      .inner_visual
        .title_wrap
          h2: img(src="../images/common_b/logo.svg", alt="RCS for Business")
          p 차세대 모바일 메시징 기술 기반으로 <br>기업 환경과 비즈니스 목적에 맞는 <br>다양한 비즈니스 커뮤니케이션 서비스를 제공합니다.
        .btn_wrap
          a(href="javascript:void(0);").btn.btn_white.round 
            span 서비스관리 바로가기
    .container
      article.content#content
        // 메시징 플랫폼 class 추가하여 작업
        section.section.business_message
          .sec_header
            h3 비즈니스 메시징 플랫폼
            span.h3_desc SMS 보다 향상된 비즈니스 메시징을 사용하여 새로운 고객 커뮤니케이션 전략을 구축할 수 있습니다.
          .sec_body
            ul.list
              li 
                span.icon.icon_brand
                h4 브랜드 홈
                p 브랜드를 알리고, 사이트 방문/ <br>앱 설치/ 통화 연결 등 고객의 참여 유도
              li
                span.icon.icon_message
                h4 비즈니스 메시지
                p 마케팅 목적에 맞는 타겟 고객에게 <br>개인화된 맞춤 메시지 전달
              li
                span.icon.icon_chat
                h4 실시간 커뮤니케이션
                p 채팅 봇 및 AI를 사용하여 <br>고객과 브랜드 간 관계 강화
        // 통합관리 class 추가해서 작업
        section.section.business_info.bg_gray
          .sec_header
            h3 비즈니스 정보 통합 관리
            span.h3_desc 기업·브랜드 정보는 물론 대행사에 이르기까지 비즈니스에 필요한 모든 정보의 통합 관리를 지원합니다.
          .sec_body
            ul.list
              li 
                .img_area
                  img(src="../images/common_b/main_business01.jpg", alt="")
                .desc_area
                  h4 기업·브랜드 정보 관리
                  p 기업 정보, 브랜드 정보, <br>브랜드별 마케팅 담당자 정보 관리
              li 
                .img_area
                  img(src="../images/common_b/main_business02.jpg", alt="")
                .desc_area
                  h4 서비스 관리
                  p 정보형·광고형 메시지 등록·삭제 및 <br>사용 서비스 관리
              li 
                .img_area
                  img(src="../images/common_b/main_business03.jpg", alt="")
                .desc_area
                  h4 대행사 관리
                  p 서비스·브랜드별 대행사를 지정하여 <br>관리 업무 위임
        section.section.cs_center
          .sec_header
            h3 고객센터
            span.h3_desc RCS 메시지 서비스에 대해 이런게 궁금합니다.
          .sec_body
            ul.list
              li
                a(href="javascript:void(0);")
                  span.icon.icon_online
                  h4 온라인문의
                  p 궁금하신 점은 <br>바로 문의해 주세요
              li
                a(href="javascript:void(0);")
                  span.icon.icon_corporate 
                  h4 기업회원문의
                  p 기업운영자 가입과 <br>관리에 대해 궁금합니다

              li
                a(href="javascript:void(0);")
                  span.icon.icon_agency
                  h4 대행사회원문의
                  p 대행사 회원가입과 <br>관리에 대해 궁금합니다

              li
                a(href="javascript:void(0);")
                  span.icon.icon_brand
                  h4 브랜드문의
                  p 브랜드생성과 <br>관리에 대해 궁금합니다
            .btn_wrap
              a(href="javascript:void(0);").btn.round 
                span 온라인 문의하기


        
    .footer_wrap
      footer.footer
        .copyright
          a(href="javascript:void(0);").footer_logo 
            img(src="../images/common_b/logo.svg", alt="RCS for Business")
          p.copy Copyright ⓒ Brand Portal. All rights reserved.
        .term_list
          a(href="javascript:void(0);") 개인정보취급방침
          a(href="javascript:void(0);") 이용약관
    
    script.
      var headerWrap = new Vue({
        el: ".header_wrap",
        data:{
          isHovering: false,
          array: [
            {
              title: "서비스 소개",
              url: "javascript:void(0);",
              subMenu: [
                {
                  title: "RCS 서비스",
                  url: "javascript:void(0);"
                },
                {
                  title: "RCS 서비스 특징",
                  url: "javascript:void(0);"
                },
                {
                  title: "상품안내",
                  url: "javascript:void(0);"
                },
                {
                  title: "사용 가이드",
                  url: "javascript:void(0);"
                }
              ]
            },
            {
              title: "서비스 관리",
              url: "javascript:void(0);",
              subMenu: [
                {
                  title: "서비스 관리",
                  url: "javascript:void(0);"
                },
                {
                  title: "서비스 관리",
                  url: "javascript:void(0);"
                }
              ]
            },
            {
              title: "고객센터",
              url: "javascript:void(0);"
            }
          ]
        },
        methods: {
          mouseover: function(){
            this.isHovering = true;
          },    
          mouseleave: function(){
            this.isHovering = false;
          }
        }
      });      
      
