//output:../../../publish/html/display/layout.html

include ../include/jadeUtil.jade
doctype html
html(lang='ko')
  include ../include/head.jade
  body
    include ../include/skipNavi.jade
    include ../include/header.jade
    .container
      article#content.content
        // selectbox
        span.custom_select
          select(name="" id="" title="브랜드명을 선택 해주세요")
            option option1
            option option2
            option option3
        br
        br
        br
        br
        a(href="javascript:void(0);").btn.sml <span>버튼</span>
        a(href="javascript:void(0);").btn.blue.sml <span>버튼</span>
        a(href="javascript:void(0);").btn.blue.mid <span>버튼</span>
        a(href="javascript:void(0);").btn.gray.mid <span>버튼</span>
        a(href="javascript:void(0);").btn.bd_blue.mid <span>버튼</span>
        a(href="javascript:void(0);").btn.gray.big <span>버튼</span>
        a(href="javascript:void(0);").btn.bd_blue.big <span>버튼</span>
        a(href="javascript:void(0);").btn.bd_gray.big <span>버튼</span>
        a(href="javascript:void(0);").btn.link <span>버튼</span>
        br
        .box_add_files
          span.custom_input
            input(type="text" id="file_route01" readonly)
            input(type="file" id="file_bt01" onchange="javascript:document.getElementById('file_route01').value=this.value").ui_skip
          label(for="file_bt01").btn.gray.mid.btn_add_files <span>파일업로드</span>
        br
        br
        br
        span.custom_radio
          input(type="radio" name="Radio" id="Radio01")
          label(for="Radio01") 라디오01
        span.custom_radio
          input(type="radio" name="Radio" id="Radio02")
          label(for="Radio02") 라디오02
        br
        br
        br
        br
        span.custom_input
          input(type="text" placeholder="타이틀 입력")
        br
        br
        br
        br
        p.caution ※ 최대 90byte
        br
        br
        br
        br
        .tab_wrap
          ul.tab_nav
            li.active: a(href="javascript:void(0);") TAB1
            li: a(href="javascript:void(0);") TAB2
          .tab_container
            .tab_content.active Tab Content 01
            .tab_content Tab Content 02
    include ../include/footer.jade
      
  
