//output:../../../publish/html/display/Message_17_001.html

include ../include/jadeUtil.jade
doctype html
html(lang='ko')
  include ../include/head.jade
  body
    include ../include/skipNavi.jade
    include ../include/header.jade
    
    .container
      article#content.content 
        .popup_head
          h2.title 대량등록
        .popup_cont
          .search_box
            .cont_block_bundle
              strong.label_title 파일첨부
              span.custom_input
                input(type="file" id="")
              
              
            .cont_block_bundle
              .btn_wrap
                a(href="javascript:void(0);").btn.btn_mid.btn_gray
                  span 검색
          .search_result
            .tab_wrap
              ul.custom_tab
                li.active: a(href="javascript:void(0);") 그룹
                li: a(href="javascript:void(0);") 전체
            .table_wrap
              .table_head
                .cont_flex_bundle
                  p.full_width 받는 사람으로 추가할 그룹을 선택하고 추가 버튼을 클릭해주세요.
                  .btn_wrap.align_right
                    a(href="javascript:void(0);").btn.btn_sml
                      span 추가
              .table_cont  
                .custom_table
                  table
                    colgroup
                      col(width="80")
                      col(width="*")
                      col(width="180")
                      col(width="180")
                    thead
                      tr
                        th 
                          span.custom_checkbox
                            input(type="checkbox" name="checkboxAll" id="checkboxAll")
                            label(for="checkboxAll")
                        th.sort_table 
                          strong 그룹명
                            span.btn_sort 정렬
                        th.sort_table 
                          strong 등록인원
                            span.btn_sort 정렬
                        th.sort_table 
                          strong 등록일
                            span.btn_sort 정렬
                    tbody
                      tr
                        td(colspan="4").no_data 검색 결과가 없습니다.
                      -for(i=1; i <= 4; i++)
                        tr
                          td 
                            span.custom_checkbox.single
                              input(type="checkbox" name="checkbox" id="checkbox0"+i)
                              label(for="checkbox0"+i)
                          td 신용카드 회원
                          td #{i},000
                          td 2019-07-07
                .search_result_info
                  p.text_info(style="display:none") 발송할 그룹을 선택해주세요.
                  p.text_info 카드 회원 전체 / 3000명 / 2019-07-04
              .table_tail
                .btn_wrap
                  a(href="javascript:void(0);").btn.btn_mid
                    span 취소
                  a(href="javascript:void(0);").btn.btn_mid.btn_black
                    span 등록
      
    include ../include/footer.jade
      
    
