//output:../../../publish/html/display/Message_14_001.html

include ../include/jadeUtil.jade
doctype html
html(lang='ko')
  include ../include/head.jade
  body
    include ../include/skipNavi.jade
    include ../include/header.jade
    
    .container
      article#content.content 
        .popup_head
          h2.title 주소록관리
        .popup_cont
          .search_box
            .cont_block_bundle
              .cont_flex_bundle
                span.custom_select
                  select
                    option(value="") 선택
                    option(value="") 이름
                    option(value="") 휴대폰번호
                span.custom_input.full_width
                  input(type="text")
            .cont_block_bundle
              .btn_wrap
                a(href="javascript:void(0);").btn.btn_mid.btn_gray
                  span 검색
          .search_result
            .tab_wrap
              ul.custom_tab
                li.active: a(href="javascript:void(0);") 그룹
                li: a(href="javascript:void(0);") 전체
            .table_wrap
              .table_head
                .cont_flex_bundle
                  .btn_wrap.full_width.align_left
                    a(href="javascript:void(0);").btn.btn_sml.btn_gray
                      span 개별등록
                    a(href="javascript:void(0);").btn.btn_sml.btn_gray
                      span 대량등록
                    a(href="javascript:void(0);").btn.btn_sml.btn_gray
                      span 그룹추가/수정
                  .btn_wrap.full_width.align_right
                    a(href="javascript:void(0);").btn.btn_sml.btn_down
                      span 엑셀 다운로드
                    a(href="javascript:void(0);").btn.btn_sml
                      span 삭제
              .table_cont  
                .custom_table
                  table
                    colgroup
                      col(width="80")
                      col(width="*")
                      col(width="180")
                      col(width="180")
                    thead
                      tr
                        th 
                          span.custom_checkbox
                            input(type="checkbox" name="checkboxAll" id="checkboxAll")
                            label(for="checkboxAll")
                        th.sort_table 
                          strong 그룹명
                            span.btn_sort 정렬
                        th.sort_table 
                          strong 등록인원
                            span.btn_sort 정렬
                        th.sort_table 
                          strong 등록일
                            span.btn_sort 정렬
                    tbody
                      tr.default
                        td 
                          span.custom_checkbox.single
                            input(type="checkbox" name="checkbox" id="checkbox00")
                            label(for="checkbox00")
                        td 기본그룹
                        td 5,000
                        td 2019-07-07
                      tr
                        td(colspan="4").no_data 검색 결과가 없습니다.
                      -for(i=1; i <= 4; i++)
                        tr
                          td 
                            span.custom_checkbox.single
                              input(type="checkbox" name="checkbox" id="checkbox0"+i)
                              label(for="checkbox0"+i)
                          td 신용카드 회원
                          td #{i},000
                          td 2019-07-07
              .paging_wrap
                .custom_paging
                  a(href="javascript:void(0);").btn_arrow.first 맨처음
                  a(href="javascript:void(0);").btn_arrow.prev 이전
                  a(href="javascript:void(0);") 1
                  a(href="javascript:void(0);") 2
                  a(href="javascript:void(0);") 3
                  a(href="javascript:void(0);") 4
                  a(href="javascript:void(0);") 5
                  span ...
                  a(href="javascript:void(0);") 100
                  a(href="javascript:void(0);").btn_arrow.next 다음
                  a(href="javascript:void(0);").btn_arrow.last 맨마지막
      
    include ../include/footer.jade
