//output:../../../publish/html/display/Message_07.html

include ../include/jadeUtil.jade
doctype html
html(lang='ko')
  include ../include/head.jade
  body
    include ../include/skipNavi.jade
    include ../include/header.jade
    
    .container
      article#content.content
        .popup_head
          h2.title 메시지 보관함
        .popup_cont
          .search_box
            .cont_block_bundle
              .cont_flex_bundle
                strong.title 작성일
                .input_period_bundle
                  span.custom_input.icon_date
                    input(type="text")
                  span.tilde  ~
                  span.custom_input.icon_date
                    input(type="text")
                .btn_wrap
                  a(href="javascript:void(0);").btn.btn_sml.btn_gray 
                    span 1주일
                  a(href="javascript:void(0);").btn.btn_sml.btn_gray 
                    span 15일
                  a(href="javascript:void(0);").btn.btn_sml.btn_gray 
                    span 30일
            .cont_block_bundle
              .cont_flex_bundle
                span.custom_select
                  select
                    option(value="") 브랜드
                    option(value="") 브랜드
                span.custom_select
                  select
                    option(value="") 양식
                    option(value="") 양식
                span.custom_input.full_width
                  input(type="text")
            .cont_block_bundle
              .btn_wrap
                a(href="javascript:void(0);").btn.btn_mid.btn_gray
                  span 초기화
                a(href="javascript:void(0);").btn.btn_mid.btn_gray
                  span 검색
          .search_result
            .table_wrap
              .table_head
                .btn_wrap.align_right
                  a(href="javascript:void(0);").btn.btn_sml
                    span 삭제
              .table_cont  
                .custom_table
                  table
                    colgroup
                      col(width="60")
                      col(width="150")
                      col(width="150")
                      col(width="180")
                      col(width="*")
                      col(width="150")
                      col(width="150")
                    thead
                      tr
                        th 
                          span.custom_checkbox
                            input(type="checkbox" name="checkboxAll" id="checkboxAll")
                            label(for="checkboxAll")
                        th 브랜드
                        th 발신번호
                        th 양식
                        th 내용
                        th 작성일
                        th
                    tbody
                      tr
                        td(colspan="7").no_data 검색 결과가 없습니다.
                      -for(i=1; i < 10; i++)
                        tr
                          td 
                            span.custom_checkbox.single
                              input(type="checkbox" name="checkbox" id="checkbox0"+i)
                              label(for="checkbox0"+i)
                          td 브랜드00#{i}
                          td 1544-1111
                          td Tmplt00#{i} 자동이체
                          td 
                            a(href="javascript:void(0);").btn_text 롯데카드 홍길동님 05/16 기준 100,000원
                          td 2019-06-01
                          td
                            .btn_wrap.align_center
                              a(href="javascript:void(0);").btn.btn_sml.btn_gray 
                                span 선택
              .paging_wrap
                .custom_paging
                  a(href="javascript:void(0);").btn_arrow.first 맨처음
                  a(href="javascript:void(0);").btn_arrow.prev 이전
                  a(href="javascript:void(0);") 1
                  a(href="javascript:void(0);") 2
                  a(href="javascript:void(0);") 3
                  a(href="javascript:void(0);") 4
                  a(href="javascript:void(0);") 5
                  span ...
                  a(href="javascript:void(0);") 100
                  a(href="javascript:void(0);").btn_arrow.next 다음
                  a(href="javascript:void(0);").btn_arrow.last 맨마지막
                  
                              
    include ../include/footer.jade
    
