//output:../../../publish/html/main/main.html
doctype html
html(lang='ko')
  include ../include/head.jade
  <script src="https://unpkg.com/vuejs-datepicker"></script>
  <script src="https://unpkg.com/vuejs-datepicker/dist/locale/translations/ko.js"></script>
  body
      
    .date_picker
      vuejs-datepicker(:language="ko" placeholder='date picker')
    
    script.
      var app = new Vue({
        el: '.date_picker',
        data() {
          return {
            ko: vdp_translation_ko.js
          }
        },
        methods: {
          customFormatter(date) {
            return moment(date).format('MMMM Do YYYY, h:mm:ss a');
          }
        },
        components: {
        	vuejsDatepicker
        }
      })
