@charset "UTF-8";
html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'SpoqaHanSansRegular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SpoqaHanSansRegular.ttf');
  src: local('※'), url('../fonts/SpoqaHanSansRegular.woff2') format('woff2'), url('../fonts/SpoqaHanSansRegular.woff') format('woff');
}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'SpoqaHanSansRegular';
  line-height: 1.2;
  letter-spacing: -0.04em;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: none;
}
img,
button {
  border: none;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
img {
  max-width: 100%;
}
caption {
  font-size: 0;
  text-indent: -9999px;
}
.skip_navi {
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
}
.skip_navi a {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #222;
  line-height: 30px;
  text-align: center;
  font-size: 13px;
  color: #fff;
  font-weight: normal;
}
.skip_navi a:focus {
  top: 30px;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #dddddd;
  z-index: 20;
}
.header .inner_header {
  width: 1080px;
  margin: 0 auto;
  height: 100px;
  box-sizing: border-box;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header nav {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  align-items: center;
}
.header nav > ul {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
}
.header nav > ul > li.node1 {
  float: left;
}
.header nav > ul > li.node1 a {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
  font-size: 18px;
  color: #222222;
  font-weight: bold;
}
.header nav > ul > li + li {
  margin-left: 40px;
}
.header .util_wrap {
  margin-left: 60px;
}
.header .util_wrap .btn_user {
  display: block;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: url(../images/dummy/icon_user.png) no-repeat center center #f6f6f6;
  font-size: 0;
}
.container {
  padding-top: 160px;
}
.btn_text:hover {
  text-decoration: underline;
}
.text_red {
  color: red;
}
.text_blue {
  color: blue;
}
.full_width {
  width: 100%;
}
.half_width {
  width: 50%;
}
.align_right {
  text-align: right;
}
.align_center {
  text-align: center;
}
.align_left {
  text-align: left;
}
