//output:../../../publish/html/include/header.html
include jadeUtil.jade

.header_wrap
  header.header
    .inner_header
      h1.logo
        a(href="javascript:void(0);") 
          img(src="../images/dummy/logo_webtemp.png" alt="RCS WEB Template")
      nav
        ul
          li.node1: a(href="javascript:void(0);") 서비스 관리
          li.node1: a(href="javascript:void(0);") 메시지 관리
          li.node1: a(href="javascript:void(0);") 발송통계
          li.node1: a(href="javascript:void(0);") 공지사항
          li.node1: a(href="javascript:void(0);") 관리
        .util_wrap
          a(href="javascript:void(0);").btn_user 회원정보
