//output:../../../publish/html/display/layout.html

include ../include/jadeUtil.jade
doctype html
html(lang='ko')
  include ../include/head.jade
  body
    include ../include/skipNavi.jade
    .header_wrap
    
    .container
      article#content.content content
      
    .footer_wrap
      
    script(type='text/javascript').
      var header = $('.header_wrap');
      front.pageLoading(header, '../include/header.html', function() {/* callback */});
      var footer = $('.footer_wrap');
      front.pageLoading(footer, '../include/footer.html', function() {/* callback */});
      
